@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  background: #252525;
}


img {
  filter: drop-shadow(0 1.8em 3.7em var(--shadow));
}